@charset "utf-8";
/* CSS Document */

.loaded_image
{
    padding:5px 5px 5px 5px;
    opacity:.7;
}

.selected_image
{

    padding:5px 5px 5px 5px;
    border-style:solid;
    border-color:#060;
    border-width:2px;
    opacity:1;
}
#output
{
    margin-left:15px;
    margin-top:20px;	
}