
.box_empresa
{
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;

border-style:solid;
border-color:#999;
border-width:1px;

width:113px;
height:82px;

display:inline-block;
float:left;
margin-left:10px;
margin-bottom:10px;
}
.img_empresa
{
padding: 5px 5px 5px 5px;	
}


#reportagens
{
display:inline-block;
float:left;
width:580px;
height:28px;

}
.img_reportagem
{
float:left;
display:inline-block;
}
.txt_reportagem
{
display:inline-block;
float:left;
font-size:12px;
color:#666;
font-family:'lucida_granderegular';
}


#box_video
{
width:400px;
height:292px;
display:inline-block;
float:left;	
}

#box_depoimentos
{
width:400px;
height:310px;	
display:inline-block;
float:left;
}

.depoimentos_slide
{
position:relative;	
	
float:left;
display:inline-block;	

width:380px;
height:134px;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

border-style:solid;
border-color:#CCC;
border-width:1px;

margin:5px 5px 5px 5px;

background-color:#fbfbfb;
}



.depoimento_foto
{
position:absolute;
top:5px;
left:5px;	
}
.depoimento_txt
{
	position:absolute;
top:10px;
left:120px;	
font-size:12px;
}
.depoimento_titulo
{
position:absolute;
bottom:5px;
left:10px;	
font-size:12px;
}


#site_seguro
{
position:absolute;
top:160px;
left:900px;	
}

#box_form
{
position:absolute;
top:160px;
left:600px;	
width:480px;
height:300px;
	

}

.faq_titulo
{
font-size:14px;
color:#333;
font-weight:bold;
	
}

.faq_resposta
{
font-size:12px;
color:#666;
margin-left:10px;
	
}

.beneficio_subtitulo
{
margin-top:-20px;
margin-left:20px;
font-size:13px;
color:#999;	
}

.beneficio
{

	width:480px;
margin-bottom:-30px;

/*border-color:1px;
border-width:1px;
border-style:solid;
*/}
.beneficio_img
{
	display:inline-block;
	float:left;
	margin-left:10px;
	margin-right:5px;
}
.beneficio_txt
{
font-weight:bold;

margin-left:5px;
padding-top:7px;
	
color:#900;
font-size:13px;	
}
.beneficio_txt:hover
{
text-decoration:underline;		
}

.beneficio_desc
{
margin-left:20px;
display:none;	
font-size:12px;
color:#666;

}

#botao_cta1
{
position:absolute;
top:600px;
left:600px;

	
}

#porque_investir
{
	display:inline-block;
	float:left;
width:60%;
height:auto;	
}